; =====================================================
; ============  END PILL/ITEM SPAWN REMOVAL ===========
; =====================================================
filter:
{
    "hammerid" "3868021"
}
{
    "hammerid" "3868015"
}
{
    "hammerid" "3868017"
}
; =====================================================


; =====================================================
; ================  MAP ROOM SHOTGUN  =================
; =====================================================
add:
; --- one time pickup shotgun in maproom for witch killing
{
    ; single pump shotgun with 8 shots and no reserve
    "classname" "weapon_pumpshotgun"
    "origin" "924 5268 2688"
    "angles" "0 230 -90"
}
; =====================================================


; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
; -- updated (exploits v.29): 2013-02-11 - 17:07
add:
; --- block hang-leg-up roof exploit
{
    ; invisible block - window a
    "origin" "2397 6407 2797"
    "mins" "-72 0 0"
    "maxs" "0 34 128"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block - window b
    "origin" "2448 6254 2797"
    "mins" "-0 0 0"
    "maxs" "36 144 128"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; --- block balcony-to-window drop from left hand side to first hallway (right in the corner)
{
    ; invisible block (tall one)
    "origin" "1644 6392 2764"
    "mins" "-60 -4 -360"
    "maxs" "0 0 80"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; --- block dropping to lower floor ledge until lower floor is reached
{
    ; invisible block along lower floor ledge 1
    "targetname" "block_earlyledgedrop"
    "origin" "2480 6300 2532"
    "mins" "-32 -116 -76"
    "maxs" "32 116 76"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block along lower floor ledge 2
    "targetname" "block_earlyledgedrop"
    "origin" "2424 6448 2532"
    "mins" "-88 -32 -76"
    "maxs" "88 32 76"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block along lower floor ledge 3
    "targetname" "block_earlyledgedrop"
    "origin" "2288 7048 2532"
    "mins" "-48 -632 -76"
    "maxs" "48 632 76"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; <remove ledge blocks once lower stairwell door is open or destroyed>
modify:
{
    match:
    {
        "hammerid" "570190"
    }
    insert:
    {
        "OnOpen" "block_earlyledgedropKill0-1"
        "OnBreak" "block_earlyledgedropKill0-1"
    }
}
; =====================================================


; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================
add:
; -------------- make attacks possible in burning lobby area
{
	; vending machine (drink cooler)
	"solid" "6"
	"origin" "-412 5322 1185"
	"angles" "0 90 0"
	"model" "models/props_office/vending_machine01.mdl"
	"classname" "prop_dynamic"
}
{
	; vending machine (drink cooler square)
	"solid" "6"
	"origin" "-428 5272 1185"
	"angles" "0 4 0"
	"model" "models/props_equipment/cooler.mdl"
	"classname" "prop_dynamic"
}
{
	; vending machine (drink cooler square) -- door
	"solid" "0"
	"origin" "-408 5292 1185"
	"angles" "0 27 0"
	"model" "models/props_equipment/cooler_door.mdl"
	"classname" "prop_dynamic"
}
{
	; boxes 
	"solid" "6"
	"origin" "-428 5208 1185"
	"angles" "0 20 0"
	"model" "models/props/cs_militia/boxes_garage_lower.mdl"
	"classname" "prop_dynamic"
}
; ------------ final room / before saferoom
{
	; pile of luggage
	"solid" "6"
	"origin" "1150 4650 1185"
	"angles" "0 280 0"
	"model" "models/props_unique/airport/luggage_pile1.mdl"
	"classname" "prop_dynamic"
}
{
	; pile of luggage
	"solid" "6"
	"origin" "1248 4310 1185"
	"angles" "0 300 0"
	"model" "models/props_unique/airport/luggage_pile1.mdl"
	"classname" "prop_dynamic"
}
{
	; vending machine
	"solid" "6"
	"origin" "1378 4400 1185"
	"angles" "0 90 0"
	"model" "models/props_equipment/snack_machine2.mdl"
	"classname" "prop_dynamic"
}
{
	; plates of sheetrock
	"solid" "6"
	"origin" "968 4380 1185"
	"angles" "0 0 0"
	"model" "models/props_interiors/sheetrock_leaning.mdl"
	"classname" "prop_dynamic"
}
; =====================================================