; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
; -- updated (exploits v.29): 2013-02-11 - 17:07
add:
; --- block fence spawnblock at start
{
    ; invisible block above fence
    "origin" "1143 3564 225"
    "mins" "0 0 0"
    "maxs" "12 756 200"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; --- block getting undermap through water as a ghost and falling behind building (confogl only)
{
    ; invisible block along whole backside at starting area
    "origin" "-248 4464 1510"
    "mins" "-264 -2024 -1600"
    "maxs" "264 2024 1600"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
; --- block shortcut at start to bypass lower section
{
    ; invisible block on front of vehicle
    "origin" "1788 2712 154"
    "mins" "-12 -52 -66"
    "maxs" "12 52 66"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block jump up on tilted bus
{
    ; invisible block above bus
    "origin" "2542 3352 100"
    "angles" "0 -50 0"
    "mins" "0 0 0"
    "boxmins" "0 0 0"
    "maxs" "466 103 500"
    "boxmaxs" "466 103 150"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block climbing on truck to jump in window and skip interiors
{
    ; invisible block on sides of truck
    "origin" "2784 2798 120"
    "mins" "-28 -54 -32"
    "maxs" "28 54 32"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block on front of truck
    "origin" "2714 2796 120"
    "mins" "-30 -56 -32"
    "maxs" "30 56 32"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block zombie jump reachable green awning from window to off/under map
{
    ; invisible block from awning to truck
    "origin" "3932 2672 388"
    "mins" "-4 -48 -172"
    "maxs" "4 48 172"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block hunters dropping down through missing clip in building roof to get off/undermap
{
    ; invisible block over hole in roof of building
    "origin" "5296 2488 1008"
    "mins" "-144 -136 -368"
    "maxs" "144 136 368"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
; --- block upper section areas that shouldn't be accessible but are missing clip
{
    ; invisible block across right side
    "origin" "32 1473 694"
    "mins" "-380 -75 -198"
    "maxs" "380 75 198"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block across back side
    "origin" "-356 1088 694"
    "mins" "-16 -325 -198"
    "maxs" "16 325 198"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block left side
    "origin" "-128 596 706"
    "mins" "-232 -172 -182"
    "maxs" "232 172 182"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block shortcut along outer wall to weapons/ammo
{
    ; invisible block at start of wall shortcut
    "origin" "1792 320 1408"
    "mins" "-64 -64 -897"
    "maxs" "64 64 897"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block radio and speaker near witch
{
    ; invisible block above radio and speakers
    "origin" "-936 -14 648"
    "angles" "0 150 0"
    "mins" "0 -40 0"
    "maxs" "64 0 110"
    "boxmins" "0 -40 0"
    "boxmaxs" "64 0 110"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block shortcut to saferoom over tent after witch bride 
{
    ; invisible block above tent
    "origin" "-2744 184 1680"
    "mins" "-200 -152 -897"
    "maxs" "200 152 897"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block zombie jump over fence to get off/under map near saferoom
{
    ; invisible block above fence
    "origin" "-3876 1652 980"
    "mins" "-4 -124 -116"
    "maxs" "4 124 116"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; =====================================================


; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================
add:
; --- prevent SI getting stuck in small hallway
{
    ; invisible block inside alley
    "origin" "584 2366 456"
    "mins" "-32 -253 -360"
    "maxs" "32 253 360"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
; =====================================================