
; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
; -- updated (exploits v.29): 2013-02-11 - 17:07
add:
; --- block jumping off building to death before leaving saferoom
{
    ; invisible block wall along back side
    "targetname" "block_deathjump_before_start"
    "origin" "1546 1096 632"
    "mins" "-2 -320 -148"
    "maxs" "2 320 148"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block wall along front side
    "targetname" "block_deathjump_before_start"
    "origin" "2306 1100 632"
    "mins" "-2 -324 -148"
    "maxs" "2 324 148"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block wall along corner side
    "targetname" "block_deathjump_before_start"
    "origin" "2176 1426 632"
    "mins" "-128 -2 -148"
    "maxs" "128 2 148"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; <remove blocks once the survivors have left the saferoom>
modify:
{
    match:
    {
        "targetname" "door_apartmentspawn01"
    }
    insert:
    {
        "OnOpen" "block_deathjump_before_startKill0-1"
        "OnBreak" "block_deathjump_before_startKill0-1"
    }
}
; <remove blocks once the survivors have broken the skylight>
{
    match:
    {
        "targetname" "skylightframe_2"
    }
    insert:
    {
        "OnBreak" "block_deathjump_before_startKill0-1"
    }
}
add:
; --- block survivors getting in jesus room in out of map section (failsafe)
{
    ; invisible block in alley
    "origin" "632 984 292"
    "mins" "-8 -40 -276"
    "maxs" "8 40 276"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block survivors climbing in windows from white semi truck
{
    ; invisible block in window
    "origin" "1728 3976 268"
    "mins" "-32 -8 -44"
    "maxs" "32 8 44"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; =====================================================


; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================
add:
{
    ; sedan
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "934 4360 15"
    "angles" "0 -1 0"
    "model" "models/props_vehicles/cara_69sedan.mdl"
    "classname" "prop_dynamic"
    "rendercolor" "80 90 65"
}
{
    ; sedan -- glass
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "934 4360 15"
    "angles" "0 -1 0"
    "model" "models/props_vehicles/cara_69sedan_glass.mdl"
    "classname" "prop_dynamic"
}
{
    ; tanker truck
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "1360 4380 15"
    "angles" "0 177 0"
    "model" "models/props_vehicles/airport_fuel_truck.mdl"
    "classname" "prop_dynamic"
}
;------------ final area before metro entrance
{
    ; wrecked sedan
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "2660 4890 12"
    "angles" "0 93 -6"
    "model" "models/props_vehicles/cara_95sedan_wrecked.mdl"
    "classname" "prop_dynamic"
    "rendercolor" "130 140 140"
}
{
    ; wrecked sedan -- glass
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "2660 4890 12"
    "angles" "0 93 -6"
    "model" "models/props_vehicles/cara_95sedan_wrecked_glass.mdl"
    "classname" "prop_dynamic"
}
; =====================================================
