; ======================================================
; ===============  Dead Before Dawn DC: 1  =============
; ======================================================

; Remove the radio voice
filter:
{
	"targetname" "cj_sound1"
}
{
	"targetname" "cj_hello"
}
{
	"targetname" "cj_light"
}

; Fix broken health bonus
; HB doesn't calculate while scripted panic event is running
; so we get the same effect by chaining generic panic events.
; We can't just call EndScript because director takes up to 20 seconds to actually end it.
modify:
{
	match:
	{
		"targetname" "Start_The_Gas"
	}
	delete:
	{
		"OnPressed" "directorScriptedPanicEventmap2_crescendo3-1"
	}
	insert:
	{
		"OnPressed" "directorForcePanicEvent3-1"
		"OnPressed" "directorForcePanicEvent32-1"
	}
}
{
	match:
	{
		"targetname" "gas_logic_case"
	}
	delete:
	{
		"Case04" "4"
		"Case03" "3"
		"Case02" "2"
	}
	insert:
	{
		"OnCase01" "directorForcePanicEvent60-1"
	}
}

; Disable preacher car panic event
modify:
{
	match:
	{
		"targetname" "preacher2_8"
	}
	delete:
	{
		"OnPass" "directorPanicEvent1-1"
	}
}

; Prevent survivors from spawning under saferoom during readyup
; This just moves them into the air 64 units
modify:
{
	match:
	{
		"classname" "info_survivor_position"
		"origin" "3098.83 -2771.59 5"
	}
	replace:
	{
		"origin" "3098.83 -2771.59 69"
	}
}
{
	match:
	{
		"classname" "info_survivor_position"
		"origin" "3155.54 -2721 5"
	}
	replace:
	{
		"origin" "3155.54 -2721 69"
	}
}
{
	match:
	{
		"classname" "info_survivor_position"
		"origin" "3171.95 -2802.98 5"
	}
	replace:
	{
		"origin" "3171.95 -2802.98 69"
	}
}
{
	match:
	{
		"classname" "info_survivor_position"
		"origin" "3231 -2782.66 5"
	}
	replace:
	{
		"origin" "3231 -2782.66 69"
	}
}

; Add weapon spawns to safe room
add:
{
	; smg
	"origin" "3331 -2607 42"
	"weapon_selection" "any_rifle"
	"spawnflags" "3"
	"spawn_without_director" "0"
	"solid" "6"
	"skin" "0"
	"model" "models/w_models/weapons/w_smg_a.mdl"
	"disableshadows" "0"
	"count" "4"
	"body" "0"
	"angles" "0 29 90"
	"classname" "weapon_spawn"
}
{
	; shotgun
	"origin" "3265 -2590 7"
	"weapon_selection" "tier2_shotgun"
	"spawnflags" "3"
	"spawn_without_director" "0"
	"solid" "6"
	"skin" "0"
	"model" "models/w_models/weapons/w_shotgun.mdl"
	"disableshadows" "0"
	"count" "4"
	"body" "0"
	"angles" "0 29 90"
	"classname" "weapon_spawn"
}

; Force at least 1 weapon spawn at the 50% mark
modify:
{
	match:
	{
		"targetname" "rifle_3"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
{
	match:
	{ 
		"targetname" "hunting_rifle_3"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
{
	match:
	{
		"targetname" "rifle_b_3" 
	}
	replace:
	{
		"spawnflags" "2"
	}
}
{
	match:
	{
		"targetname" "hunting_rifle_b_3"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
{
	match:
	{
		"model" "models/props_unique/spawn_apartment/coffeeammo.mdl"
	}
	replace:
	{
		"spawnflags" "2"
	}
}

; Remove 2 of the 4 melees in the safe room
filter:
{
	"model" "models/weapons/melee/w_fireaxe.mdl"
	"origin" "3289 -2592 33.9797"
}
{
	"model" "models/weapons/melee/w_crowbar.mdl"
	"origin" "3329.69 -2592 40"
}

; Remove 1 of the 2 melees in the house where the paths meet
filter:
{
	"origin" "-74 1564 -457.589"
	"classname" "weapon_melee_spawn"
}

; Fill in gap along mountains on the right side towards the beginning of the right path
add:
{
	"classname" "prop_dynamic"
	"origin"  "6241 1000 -292"
	"angles" "0 165 0"
	"solid" "6"
	"model" "models/props_wasteland/rock_cliff01.mdl"
}

; Fill in gap along mountains at the end of the right path right before the left and right paths meet
add:
{
	"classname" "prop_dynamic"
	"origin"  "1854 2844 -270"
	"angles" "0 180 0"
	"solid" "6"
	"model" "models/props_wasteland/rock_cliff01.mdl"
}

; Block exploit allowing survivors to get on top of rock overpass on the right path
add:
{
	"classname" "prop_dynamic"
	"origin"  "4213 1757 -376"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_foliage/forestrock_single01.mdl"
}
{
	"classname" "prop_dynamic"
	"origin"  "4936 1796 -155"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_foliage/forestrock_single01.mdl"
}

; Block exploit allowing survivors to run on fence by crashed helicopter
add:
{
	"classname" "prop_dynamic"
	"origin"  "-610 4595 -280"
	"angles" "0 -30 0"
	"solid" "6"
	"model" "models/props_wasteland/rock_cliff01.mdl"
}

; Block path until helicopter crashes to prevent teams from running past helicopter crash
add:
{
	"classname" "prop_dynamic"
	"origin"  "-625 6197 -520"
	"targetname" "bush_1"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
}
{

	"classname" "prop_dynamic"
	"origin"  "-371 6197 -520"
	"targetname" "bush_2"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
}
modify:
{
	match:
	{
		"targetname" "Heli_Path_10"
	}
	insert:
	{
		"OnPass" "bush_1TurnOff0-1"
		"OnPass" "bush_2TurnOff0-1"
	}
}

;Block exploit to jump across house yards over fence instead of going through houses
add:
{
	"classname" "prop_dynamic"
	"origin"  "-1303 6296 -500" 
	"targetname" "exploit_block_1"
	"angles" "0 90 0"
	"solid" "6"
	"model" "models/props_street/police_barricade.mdl"
}
modify:
{
	match:
	{
		"targetname" "kill_vs"
	}
	insert:
	{
		"OnVersus" "exploit_block_1TurnOff0-1"
	}
}