; =====================================================
; ================= CHEAP CAMPSPOTS  ==================
; =====================================================
modify:
; --- block survivors camping under pipes
{
    match:
    {
        "hammerid" "9468491"
    }
    replace:
    {
        "targetname" "other_gm_block"
    }
}
{
    match:
    {
        "hammerid" "9468493"
    }
    replace:
    {
        "targetname" "other_gm_block"
    }
}
add:
; --- block survivors camping inside wooden shelves
{
	; plywood across shelves opening
	"solid" "6"
	"origin" "7352 3025 16"
	"angles" "0 0 0"
	"model" "models/props_industrial/plywood_leaning.mdl"
    "disableshadows" "1"
	"classname" "prop_dynamic"
}
{
    ; invisible block above plywood to prevent jumping on it
    "origin" "7358 3016 92"
    "mins" "-6 -68 -12"
    "maxs" "6 68 12"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
; =====================================================


; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
; --- updated (exploits v.28): 2012-11-01 - 18:07
add:
; --- block jumping subway cars @ 2-car choke point
{
    ; invisible block (front side)
    "origin" "6170 3350 -170"
    "mins" "-100 -80 0"
    "maxs" "140 20 80"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block (back side)
    "origin" "7050 2860 -170"
    "mins" "-100 -80 0"
    "maxs" "0 80 80"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; =====================================================


; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================
add:
; --- prevent SI getting permanently stuck behind saferoom building
{
    ; dumpster behind fence
    "solid" "6"
    "origin" "10699 5330 16"
    "model" "models/props_junk/dumpster.mdl"
    "disableshadows" "1"
    "classname" "prop_dynamic"
}
; =====================================================


; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================
add:
; ----------- final street before saferoom
{
    ; 4x4 pickup near alarm car
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "10160 5400 6"
    "angles" "0 150 0"
    "model" "models/props_vehicles/pickup_4x4.mdl"
    "classname" "prop_dynamic"
    "rendercolor" "120 120 160"
}
{
    ; 4x4 pickup near alarm car -- glass
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "10160 5400 6"
    "angles" "0 150 0"
    "model" "models/props_vehicles/pickup_4x4_glass.mdl"
    "classname" "prop_dynamic"
}
{
    ; police car - against tree
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "10250 4786 75"
    "angles" "-50 -80 0"
    "model" "models/props_vehicles/police_car.mdl"
    "classname" "prop_dynamic"
}
{
    ; police car -- glass
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "10250 4786 75"
    "angles" "-50 -80 0"
    "model" "models/props_vehicles/police_car_glass.mdl"
    "classname" "prop_dynamic"
}
{
    ; police car -- lightbar
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "10250 4786 75"
    "angles" "-50 -80 0"
    "model" "models/props_vehicles/police_car_lightbar.mdl"
    "classname" "prop_dynamic"
}
; =====================================================
