; =====================================================
; ================= CHEAP CAMPSPOTS  ==================
; =====================================================
modify:
; --- block survivors camping in picnic area rescue closet
{
    match:
    {
        "targetname" "door_rescue_closet1"
    }
    replace:
    {
        "classname" "prop_dynamic"
    }
}
add:
{
    ; invisible block to seal door
    "origin" "3462 -2960 -33"
    "mins" "-28 -1 -52"
    "maxs" "28 1 52"
    "boxmins" "-28 -1 -52"
    "boxmaxs" "28 1 52"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
modify:
; --- block survivors camping in house rescue closet
{
    match:
    {
        "hammerid" "2302356"
    }
    replace:
    {
        "classname" "prop_dynamic"
    }
}
add:
{
    ; invisible block to seal door
    "origin" "3708 -4370 -100"
    "mins" "-1 -24 -52"
    "maxs" "1 24 52"
    "boxmins" "-1 -24 -52"
    "boxmaxs" "1 24 52"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
; =====================================================


; =====================================================
; ================= PROMOD FINALE FIX =================
; =====================================================
filter:
; --- filter out restricted junk
{
	"classname" "weapon_item_spawn"
}
modify:
; --- fix vanishing finale pills in proper placements
{
    match:
    {	
	    "hammerid" "2242167"
	}
	replace:
	{
	    "spawnflags" "2"
	}
}
{
    match:
    {	
	    "hammerid" "2242169"
	}
	replace:
	{
	    "spawnflags" "2"
	}
}
{
    match:
    {	
	    "hammerid" "2242171"
	}
	replace:
	{
	    "spawnflags" "2"
	}
}
{
    match:
    {	
	    "hammerid" "2242173"
	}
	replace:
	{
	    "spawnflags" "2"
	}
}
; =====================================================


; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
; -- updated (exploits v.27): 2012-08-21 - 14:46

; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
; @        Dots / Circle Squared / o2        @
; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

add:
; --- block climbing into squished section outside saferoom
{
    ; invisible block inside narrow section
    "origin" "2244 4076 100"
    "mins" "-60 -84 -28"
    "maxs" "60 84 28"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; =====================================================