; =====================================================
; ============  END PILL/ITEM SPAWN REMOVAL ===========
; =====================================================
filter:
{
    "hammerid" "2131790"
}
{
    "hammerid" "2131832"
}
{
    "hammerid" "2131806"
}
{
    "hammerid" "2131814"
}
; =====================================================


; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
; -- updated (exploits v.29): 2013-02-11 - 17:07
add:
; --- block climbing saferoom door to get on fence
{
    ; invisible block above saferoom door
    "origin" "6176 8368 188"
    "mins" "-32 -24 -52"
    "maxs" "32 24 52"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block top of rv on street before house with stairs
{
    ; invisible block above rv
    "origin" "4436 3028 716"
    "mins" "-76 -260 -565"
    "maxs" "76 260 565"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block climbing destroyed house rubble by crashed helicopter
{
    ; invisible block along side wall of house
    "origin" "2056 2448 336"
    "mins" "-8 -496 -304"
    "maxs" "8 496 304"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block along front section of house
    "origin" "2252 1960 392"
    "mins" "-188 -8 -248"
    "maxs" "188 8 248"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block along inner section of house
    "origin" "2296 2224 396"
    "mins" "-144 -24 -244"
    "maxs" "144 24 244"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block a jump from a bombed-house over a barricade
{
    ; invisible block over barricade
    "origin" "2306 884 126"
    "mins" "0 -64 0"
    "maxs" "110 0 80"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; --- block 7 holes inside sewer to prevent being charged/punched into them
{
    ; invisible block in sewer holes 1
    "origin" "5212 -112 -116"
    "mins" "-4 -40 -44"
    "maxs" "4 40 44"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block in sewer holes 2
    "origin" "5968 -452 -116"
    "mins" "-264 -4 -44"
    "maxs" "264 4 44"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block in sewer holes 3
    "origin" "6532 224 -116"
    "mins" "-4 -376 -44"
    "maxs" "4 376 44"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block in sewer holes 4
    "origin" "5848 964 -116"
    "mins" "-384 -4 -44"
    "maxs" "384 4 44"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block common hop up ladder to top of bridge and off map
{
    ; invisible block above ladder
    "origin" "5948 -2330 688"
    "mins" "-36 -2 -268"
    "maxs" "36 2 268"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- zombie jump to get out of/under map
{
    ; invisible block above fence
    "origin" "6460 -3868 312"
    "mins" "-516 -4 -96"
    "maxs" "516 4 96"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above fence
    "origin" "5948 -4492 312"
    "mins" "-4 -620 -96"
    "maxs" "4 620 96"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block climbing on roof of shack after destroyed bridge for a jesus spot
{
    ; invisible block above shack
    "origin" "6914 -4168 602"
    "mins" "-126 -160 -358"
    "maxs" "126 160 358"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; =====================================================


; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================
filter:
; --- remove fire from car at bridge explosion to prevent accidental tank ignites
{
    "targetname" "destruction_car_fire"
}
; =====================================================


; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================
add:
; ------ tankfight area right outside start saferoom
{
    ; punchable dumpster
    "targetname" "tabbernaut_punchable_a"
    "origin" "5100 5930 -2"
    "spawnflags" "256"
    "skin" "0"
    "shadowcastdist" "0"
    "rendermode" "0"
    "renderfx" "0"
    "renderamt" "255"
    "pressuredelay" "0"
    "physdamagescale" "0.1"
    "PerformanceMode" "0"
    "nodamageforces" "0"
    "model" "models/props_junk/dumpster_2.mdl"
    "minhealthdmg" "0"
    "massScale" "0"
    "inertiaScale" "1.0"
    "glowstate" "0"
    "glowrange" "0"
    "glowcolor" "0 0 0"
    "forcetoenablemotion" "0"
    "fadescale" "1"
    "fademindist" "1400"
    "fademaxdist" "1600"
    "ExplodeRadius" "0"
    "ExplodeDamage" "0"
    "disablereceiveshadows" "0"
    "Damagetype" "0"
    "damagetoenablemotion" "0"
    "BreakableType" "0"
    "body" "0"
    "angles" "0 92 0"
    "classname" "prop_physics"
}

{
    ; bigger blue dumpster for LOS
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "4580 6620 56"
    "angles" "0 95 0"
    "model" "models/props_junk/trashdumpster02.mdl"
    "classname" "prop_dynamic"
}
{
    ; just a jumpable object to avoid getting trapped inside
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "4556 6683 17"
    "angles" "0 95 0"
    "rendercolor" "100 100 100"
    "model" "models/props_interiors/dresser_short.mdl"
    "classname" "prop_dynamic"
}
; ------

; ------- tankfight area right before sewer drop
{
    ; truck
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "4204 1260 -3"
    "angles" "0 -95 0"
    "rendercolor" "100 170 120"
    "model" "models/props_vehicles/flatnose_truck.mdl"
    "classname" "prop_dynamic"
}
{
    ; truck -- glass
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "4204 1260 -3"
    "angles" "0 -95 0"
    "model" "models/props_vehicles/flatnose_truck_glass.mdl"
    "classname" "prop_dynamic"
}

{
    ; hedge - a
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "4430 1800 3"
    "angles" "0 0 0"
    "model" "models/props_foliage/urban_hedge_128_64_high.mdl"
    "classname" "prop_dynamic"
}
{
    ; hedge - b
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "4380 1840 3"
    "angles" "0 90 0"
    "model" "models/props_foliage/urban_hedge_128_64_high.mdl"
    "classname" "prop_dynamic"
}
; ------

; ------ final LOS-blockers on road before saferoom building
{
    ; truck
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "8460 -8776 201"
    "angles" "7 180 0"
    "model" "models/props_vehicles/flatnose_truck.mdl"
    "classname" "prop_dynamic"
    "rendercolor" "140 40 40"
}
{
    ; truck -- glass
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "8460 -8776 201"
    "angles" "7 180 0"
    "model" "models/props_vehicles/flatnose_truck_glass.mdl"
    "classname" "prop_dynamic"
}
{
    ; car
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "7600 -8670 101"
    "angles" "-2 20 0"
    "model" "models/props_vehicles/cara_84sedan.mdl"
    "classname" "prop_dynamic"
    "rendercolor" "190 170 170"
}
{
    ; car -- glass
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "7600 -8670 101"
    "angles" "-2 20 0"
    "model" "models/props_vehicles/cara_84sedan_glass.mdl"
    "classname" "prop_dynamic"
}
; =====================================================
