; =====================================================
; ==================  PROMOD TABLES  ==================
; =====================================================
modify:
{
	match:
	{	
	"model" "models/props_interiors/table_folding.mdl"
	"classname" "prop_physics"
	}
	delete:
	{
	"model" "models/props_interiors/table_folding.mdl"
	}
}
modify:
{
	match:
	{	
	"model" "models/props_interiors/chair_cafeteria.mdl"
	"classname" "prop_physics"
	}
	delete:
	{
	"model" "models/props_interiors/chair_cafeteria.mdl"
	}
}
; =====================================================


; =====================================================
; ================  PROMOD ONSLAUGHT  =================
; =====================================================
modify:
{
    match:
    {
        ; logic_relay @ alarm
        "hammerid" "7063599"
    }
    delete:
    {
        "OnTrigger" "@directorBeginScriptc11m4_onslaught0.1-1"
    }
    insert:
    {
        "OnTrigger" "directorBeginScriptc11m4_onslaught_3v30.1-1"
    }
}
; =====================================================


; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
; -- updated (exploits v.27): 2012-08-21 - 14:46

; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
; @        Dots / Circle Squared / o2        @
; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

; =====================================================


; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================
add:
; ----------- first area after saferoom
{
    ; stone debris - tall (near saferoom)
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "110 3500 340"
    "angles" "0 75 0"
    "model" "models/props_debris/barricade_tall04a.mdl"
    "classname" "prop_dynamic"
}
; =====================================================