; =====================================================
; ================= PROMOD FINALE FIX =================
; =====================================================
filter:
; --- filter out restricted junk
{
	"classname" "weapon_item_spawn"
}
modify:
; --- fix vanishing finale pills in proper placements
{
    match:
    {	
	    "hammerid" "2242167"
	}
	replace:
	{
	    "spawnflags" "2"
	}
}
{
    match:
    {	
	    "hammerid" "2242169"
	}
	replace:
	{
	    "spawnflags" "2"
	}
}
{
    match:
    {	
	    "hammerid" "2242171"
	}
	replace:
	{
	    "spawnflags" "2"
	}
}
{
    match:
    {	
	    "hammerid" "2242173"
	}
	replace:
	{
	    "spawnflags" "2"
	}
}
; =====================================================


; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
; -- updated (exploits v.26): 2012-06-15 - 17:59
add:
; ----------- block campsite roof
{
    ; invisible block - start
    "origin" "3092 -3075 70"
    "mins" "0 0 0"
    "maxs" "90 500 1000"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block - middle
    "origin" "3182 -3075 140"
    "mins" "0 0 0"
    "maxs" "270 500 930"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block - end
    "origin" "3452 -3075 70"
    "mins" "0 0 0"
    "maxs" "90 500 1000"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; ----------- block electrical box on final house
{
    ; invisible block
    "origin" "3622 -4420 -40"
    "mins" "0 -10 -108"
    "maxs" "28 0 130"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
; @        Dots / Circle Squared / o2        @
; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

add:
; --- block climbing into squished section outside saferoom
{
    ; invisible block inside narrow section
    "origin" "2244 4076 100"
    "mins" "-60 -84 -28"
    "maxs" "60 84 28"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; =====================================================