; =====================================================
; ==================  PROMOD TABLES  ==================
; =====================================================
modify:
{
	match:
	{	
	"model" "models/props_interiors/table_folding.mdl"
	"classname" "prop_physics"
	}
	delete:
	{
	"model" "models/props_interiors/table_folding.mdl"
	}
}
modify:
{
	match:
	{	
	"model" "models/props_interiors/chair_cafeteria.mdl"
	"classname" "prop_physics"
	}
	delete:
	{
	"model" "models/props_interiors/chair_cafeteria.mdl"
	}
}
; =====================================================


; =====================================================
; ================  PROMOD ONSLAUGHT  =================
; =====================================================
modify:
{
    match:
    {
        ; logic_relay @ alarm
        "hammerid" "7063599"
    }
    delete:
    {
        "OnTrigger" "@directorBeginScriptc11m4_onslaught0.1-1"
    }
    insert:
    {
        "OnTrigger" "directorBeginScriptc11m4_onslaught_promod0.1-1"
    }
}
; =====================================================


; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
; -- updated (exploits v.29): 2013-02-11 - 17:07
add:
; --- block using crashed airplane to ledge-hang up onto roofs
{
    ; invisible block across front of crashed airplane
    "origin" "2472 1866 358"
    "mins" "-16 -118 -38"
    "maxs" "16 118 38"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; =====================================================


; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================
add:
; ----------- first area after saferoom
{
    ; stone debris - tall (near saferoom)
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "110 3500 340"
    "angles" "0 75 0"
    "model" "models/props_debris/barricade_tall04a.mdl"
    "classname" "prop_dynamic"
}
; =====================================================