; =====================================================
; =============  PROMOD DINNER PERSUASION =============
; =====================================================
modify:
; --- set weapon spawns to pump/uzi outside dinner and chrome/silenced inside
{
    match:
    {
        "hammerid" "13197"
    }
    replace:
    {
        "weapon_selection" "weapon_smg"
    }
}
{
    match:
    {
        "hammerid" "13195"
    }
    replace:
    {
        "weapon_selection" "weapon_pumpshotgun"
    }
}
{
    match:
    {
        "hammerid" "1799514"
    }
    replace:
    {
        "weapon_selection" "weapon_smg_silenced"
    }
}
{
    match:
    {
        "hammerid" "1799518"
    }
    replace:
    {
        "weapon_selection" "weapon_shotgun_chrome"
    }
}
; =====================================================


; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
; -- updated (exploits v.29): 2013-02-11 - 17:07
add:
; --- block jesus spot on corner of docks
{
    ; invisible block on edge of docks
    "origin" "-7184 8480 84"
    "mins" "-8 -128 -35"
    "maxs" "8 128 35"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block getting tank punched to the opposite building roof
{
    ; invisible block above building
    "origin" "-6000 8240 936"
    "mins" "-208 -176 -600"
    "maxs" "208 176 600"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
filter:
; --- don't spawn weapons / items in unaccessible "end saferoom"
{
; <ammo stack>
    "hammerid" "2674151"
}
; <items>
{
    "hammerid" "2674153"
}
{
    "hammerid" "2674155"
}
{
    "hammerid" "2674157"
}
{
    "hammerid" "2674159"
}
{
    "hammerid" "2724012"
}
; <weapons>
{
    "hammerid" "2674137"
}
{
    "hammerid" "2674139"
}
{
    "hammerid" "2674141"
}
{
    "hammerid" "2674143"
}
{
    "hammerid" "2674145"
}
add:
; --- block climbing on roof near playground by using tree
{
    ; invisible block above tree
    "origin" "-1508 7068 808"
    "mins" "-76 -68 -427"
    "maxs" "76 68 427"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block jumping over hedge at playground
{
    ; invisible block over hedge
    "origin" "-1145 6650 244"
    "mins" "-40 0 0"
    "maxs" "40 1000 120"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; --- block jumping from second floor of destroyed house to fence for shortcut
{
    ; invisible block above fence
    "origin" "-640 6592 466"
    "mins" "-4 -64 -238"
    "maxs" "4 64 238"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- avoid jumping onto the roof @ "tank-fight" elevated house
{
    ; invisible block on slanted roof
    "origin" "998 7090 370"
    "mins" "0 -112 0"
    "maxs" "146 0 68"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; --- block jumping over the fence at HR-treehouse
{
    ; invisible block over fence
    "origin" "2062 2972 224"
    "mins" "-15 0 0"
    "maxs" "15 600 240"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; --- block roof skip by jumping closed 4x4 truck / fence (for backtracking)
{
    ; invisible block over fence
    "origin" "2648 2958 234"
    "mins" "-40 -40 0"
    "maxs" "130 40 80"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; --- block climbing generator by saferoom
{
    ; invisible block along generator pole
    "origin" "3460 -1324 276"
    "mins" "-6 -6 -115"
    "maxs" "6 6 115"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block jumping to wooden board from saferoom door for jesus spot/camping spot
{
    ; invisible block above wooden board
    "origin" "4144 -1423 391"
    "mins" "-48 -1 -39"
    "maxs" "48 1 39"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; =====================================================


; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================
add:
; --- block SI/Tank getting stuck in container near saferoom (confogl only)
{
	; concrete pipe
	"solid" "6"
	"origin" "-6583 6116 164"
	"angles" "0 0 0"
	"model" "models/props_pipes/concrete_pipe001a.mdl"
	"classname" "prop_dynamic"
}
{
	; concrete pipe
	"solid" "6"
	"origin" "-6583 6030 164"
	"angles" "0 0 0"
	"model" "models/props_pipes/concrete_pipe001a.mdl"
	"classname" "prop_dynamic"
}
{
	; concrete pipe
	"solid" "6"
	"origin" "-6585 5934 164"
	"angles" "0 0 0"
	"model" "models/props_pipes/concrete_pipe001a.mdl"
	"classname" "prop_dynamic"
}
{
	; concrete pipe
	"solid" "6"
	"origin" "-6585 5840 164"
	"angles" "0 0 0"
	"model" "models/props_pipes/concrete_pipe001a.mdl"
	"classname" "prop_dynamic"
}
; --- prevent SI getting unteleportably stuck behind two hedges near saferoom
{
    ; invisible block in hole near hedge (outside fence)
    "origin" "3668 -1664 132"
    "mins" "-60 -32 -36"
    "maxs" "60 32 60"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; invisible block in hole near hedge (inside fence)
    "origin" "3408 -1760 144"
    "mins" "-64 -64 -48"
    "maxs" "64 64 48"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
; --- prevent SI getting unteleportably stuck behind fence near saferoom
{
	; cardboard boxes near fence
	"solid" "6"
	"origin" "3644 -1736 100"
	"angles" "0 0 0"
	"model" "models/props/cs_militia/boxes_frontroom.mdl"
    "disableshadows" "1"
	"classname" "prop_dynamic"
}
{
    ; invisible block above boxes to boost height
    "origin" "3671 -1713 132"
    "angles" "0 -15 0"
    "mins" "-41 -15 -34"
    "maxs" "41 15 42"
    "boxmins" "-41 -15 -34"
    "boxmaxs" "41 15 42"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
; =====================================================


; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================
add:
;       -- added car (4x4) to add spawns to exit of house under construction
{
	; car
        "targetname" "tabbernaut_los"
	"solid" "6"
	"origin" "-309 6860 104"
	"angles" "0 10 0"
	"model" "models/props_vehicles/pickup_truck_78.mdl"
	"classname" "prop_dynamic"
}
{
	; car -- glass
        "targetname" "tabbernaut_los"
	"solid" "6"
	"origin" "-309 6860 104"
	"angles" "0 10 0"
	"model" "models/props_vehicles/pickup_truck_78_glass.mdl"
	"classname" "prop_dynamic"
}
; -------- area right before end saferoom
{
	; dualcab pickup
        "targetname" "tabbernaut_los"
	"solid" "6"
	"origin" "3420 -970 97"
	"angles" "0 40 0"
	"model" "models/props_vehicles/pickup_dually.mdl"
	"classname" "prop_dynamic"
        "rendercolor" "120 80 80"
}
{
	; dualcab pickup -- glass
        "targetname" "tabbernaut_los"
	"solid" "6"
	"origin" "3420 -970 97"
	"angles" "0 40 0"
	"model" "models/props_vehicles/pickup_dually_glass.mdl"
	"classname" "prop_dynamic"
}
;  -- cover leaning against fence for LOS-block
{
	; fence cover
        "targetname" "tabbernaut_los"
	"solid" "6"
	"origin" "4340 -1045 88"
	"angles" "4 -90 0"
	"model" "models/props_urban/fence_cover001_128.mdl"
	"classname" "prop_dynamic"
}
; =====================================================