; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
; -- updated (exploits v.29): 2013-02-11 - 17:07
add:
; --- jump to vantage point halfway through first outside area
{
    ; invisible block above ledge
    "origin" "2458 -9744 -20"
    "angles" "0 -45 0"
    "mins" "-64 -64 0"
    "maxs" "0 64 150"
    "boxmins" "-64 -64 0"
    "boxmaxs" "0 64 150"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block climbing event bridge to get off map
{
    ; invisible block along bridge side section
    "targetname" "bridge_exploit_blocker"
    "origin" "5876 -12836 916"
    "mins" "-20 -172 -828"
    "maxs" "20 172 828"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; <remove block after bridge event start>
modify:
{
    match:
    {
        "targetname" "train_engine_button"
    }
    insert:
    {
        "OnPressed" "bridge_exploit_blockerKill0-1"
    }
}
; =====================================================
